@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&family=Shadows+Into+Light&family=Urbanist:ital,wght@1,100;1,400&display=swap');

:root {
    --text-color: #F5F5F5;
    --accent-color: cornflowerblue;
    --background-color: #1F2937;
}

body {
    font: 1.3em 'Baskerville', sans-serif;
    background: var(--background-color);
}

* {
    box-sizing: border-box;

}

button {
    color: var(--accent-color);
    border: none;
    box-shadow: 0.2em 0.2em 1em 0.2em var(--accent-color);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
    background: var(--text-color);
    color: var(--accent-color);
    transform: scale(1.1);
}

button:active {
    transform: scale(0.8);
}

.todo {
    color: var(--accent-color);
    background: var(--text-color);
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: auto;
    box-shadow: 0.8em 0.8em 0.4em 0 var(--accent-color);
}

.todo * {
    margin: 0.6em;
}

.todo__title {
    font: 2em 'Playfair Display', sans-serif;
    color: var(--accent-color);
    text-shadow: 0.5em 0.5em 0.5em 1em var(--background-color);
}

.todo__input * {
    margin: 0 auto;
}

.todo__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    border: 0.1em solid var(--accent-color);
}

.todo__input-button {
    color: var(--text-color);
    width: 4em;
    height: 3em;
    border: var(--accent-color);
    background: var(--accent-color);
    border-radius: 1em;
}

.todo__input-field {
    color: var(--accent-color);
    font-size: 0.8em;
    width: 80%;
    padding: 2%;
    margin: 1% auto;
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.06);
}

.todo__input-field:focus {
    outline-color: var(--accent-color);
}

.todo__list {
    text-align: center;
    border-collapse: collapse;
    width: 60%;
    color: var(--text-color);
    background: var(--accent-color);
    box-shadow: 2px 2px 10px 2px var(--accent-color);
}

.todo__list * {
    margin: 0.6em;
    border: 0.1em solid var(--text-color);
}

.todo__list tr {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.todo__list :not(:first-child) tr:hover {
    transform: scale(1.05);
}

.todo__list-header {
    background: var(--text-color);
    color: var(--accent-color);
}

.todo__list-header th {
    border-radius: 0;
    border-color: var(--accent-color);
}

.todo__list-col--completed {
    background: var(--background-color);
    color: var(--accent-color);
}

.todo__list-col--completed * {
    border-radius: 0;
}

.todo__list-col--completed :nth-child(2) {
    text-decoration: line-through;
}

.todo__list-col span {
    width: 100%;
    border: 0;
    border-radius: 0;
}

.todo__list-status:hover {
    cursor: pointer;
}

[contenteditable="true"] {
    background: var(--text-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 5px;
}

@media (max-width: 1000px) {

    body {
        font-size: 2em;
    }

    button {
        font-size: 0.8em;
    }

    .todo {
        border: 0.1em solid var(--accent-color);
        box-shadow: 0.8em 0.8em 0.5em 0 var(--text-color);
        width: 90%;
    }

    .todo__input {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        width: 90%;
    }

    .todo__input-button {
        font-size: 0.5em;
        margin: 0 auto;
    }

    .todo__input-field {
        border: solid 0.1em var(--accent-color);
    }

    .todo__list {
        box-shadow: 0 0 0 0;
        font-size: 1.5em;
        width: 100%;
    }

    .todo__list-row, .todo__list-col {
        border: solid 0.1em var(--text-color);
    }

    .todo__list-header-item {
        border: solid 0.1em var(--accent-color);
    }

    .todo__list-status, .todo__list-id {
        display: none;
    }

}




