@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Urbanist:ital,wght@1,100;1,400&display=swap');

:root {
    --text-color: #F5F5F5;
    --accent-color: cornflowerblue;
    --background-color: #1F2937;
}

body {
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
    background: var(--background-color);
}

* {
    box-sizing: border-box;
    border-radius: 16px;

}

.todo {
    color: var(--accent-color);
    background: var(--text-color);
    max-width: 60%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: auto;
    box-shadow: 10px 13px 5px 0px var(--accent-color);
}

.todo * {
    margin: 10px;
}

.todo__input * {
    margin: 10px;
}

.todo__input {
    width: 400px;
    border: 2px solid var(--accent-color);
}

.todo__input-button {
    color: var(--text-color);
    width: 64px;
    height: 30px;
    border: var(--accent-color);
    background: var(--accent-color);
    box-shadow: 2px 2px 10px 2px var(--accent-color);
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;;
}

.todo__input-button:hover {
    background: var(--text-color);
    color: var(--accent-color);
    transform: scale(1.1);
}

.todo__input-button:active {
    background: var(--accent-color);
    color: var(--text-color);
    transform: scale(0.8);
}

.todo__input-field {
    color: var(--accent-color);
    height: 30px;
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.todo__input-field:focus {
    outline-color: var(--accent-color);
}

.todo__list {
    text-align: center;
    border-collapse: collapse;
    width: 400px;
    color: var(--text-color);
    background: var(--accent-color);
    box-shadow: 2px 2px 10px 2px var(--accent-color);
}

.todo__list * {
    border: 1px solid var(--text-color);
}

.todo__list tr {
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.todo__list :not(:first-child) tr:hover {
    transform: scale(1.05);
}

.todo__list-header {
    background: var(--text-color);
    color: var(--accent-color);
}

.todo__list-header th {
    border-radius: 0;
    border-color: var(--accent-color);
}

.todo__list-dlt-but {

    color: var(--accent-color);
    box-shadow: 2px 2px 10px 2px var(--accent-color);
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;

}

.todo__list-dlt-but:hover {
    transform: scale(1.1);
}

.todo__list-dlt-but:active {
    transform: scale(0.8);
}

.todo___list-col--completed {
    background: var(--background-color);
    color: var(--accent-color);
}

.todo___list-col--completed * {
    border-radius: 0;
}

.todo___list-col span {
    width: 100%;
    border: 0;
    border-radius: 0;
}

[contenteditable="true"] {
    background: var(--text-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 5px;
}

@media (max-width: 412px) {
    * {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        object-fit: contain;
        max-width: 300px;
    }

    .todo__list-header {
        display: none;
    }

    .todo__list * {
        flex-direction: row;
        border: 0;
    }
}




