body {
    background: cornflowerblue;
}

* {
    box-sizing:border-box;
    border-radius: 10px;
}

.todo {
    color: cornflowerblue;
    background: white;
    max-width: 820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.todo * {
    margin-bottom: 5px;
}

.todo__task-input {
    width: 400px;
    border: 2px solid cornflowerblue;
}

.todo__task-input * {
    margin: 5px;
}


.todo__task-input__add-button {
    color:white;
    width: 64px;
    height: 30px;
    border: cornflowerblue;
    background: cornflowerblue;
    box-shadow: 2px 2px 10px 2px cornflowerblue;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;
;
}

.todo__task-input__add-button:hover {
    background: white;
    color: cornflowerblue;
    transform: scale(1.1);
}

.todo__task-input__add-button:active {
    background: cornflowerblue;
    color: white;
    transform: scale(0.8);
}

.todo__task-input__field {
    color:cornflowerblue;
    height: 30px;
    width: 300px;
    padding:10px;
    margin:10px 0;
    border: 1px solid cornflowerblue;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.todo__task-input__field:focus {
    outline-color:cornflowerblue;
}

.todo__task-list {
    text-align: center;
    border-collapse: collapse;
    width: 400px;
    color: white;
    background: cornflowerblue;
}

.todo__task-list * {
    border: 1px solid white;
}





