:root {
    --text-color: #F5F5F5;
    --accent-color: cornflowerblue;
    --background-color: #1F2937;
}

body {
    font-size: 16px;
    font-family: 'Baskerville', sans-serif;
    background: var(--background-color);
}

* {
    box-sizing: border-box;
    border-radius: 10px;

}

.todo {
    color: var(--accent-color);
    background: var(--text-color);
    max-width: 820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.todo * {
    margin: 10px;
}

.todo__task-input * {
    margin: 10px;
}

.todo__task-input {
    width: 400px;
    border: 2px solid var(--accent-color);
}

.todo__task-input__add-button {
    color: var(--text-color);
    width: 64px;
    height: 30px;
    border: var(--accent-color);
    background: var(--accent-color);
    box-shadow: 2px 2px 10px 2px var(--accent-color);
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;;
}

.todo__task-input__add-button:hover {
    background: var(--text-color);
    color: var(--accent-color);
    transform: scale(1.1);
}

.todo__task-input__add-button:active {
    background: var(--accent-color);
    color: var(--text-color);
    transform: scale(0.8);
}

.todo__task-input__field {
    color: var(--accent-color);
    height: 30px;
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.todo__task-input__field:focus {
    outline-color: var(--accent-color);
}

.todo__task-list {
    text-align: center;
    border-collapse: collapse;
    width: 400px;
    color: var(--text-color);
    background: var(--accent-color);
    box-shadow: 2px 2px 10px 2px var(--accent-color);
}

.todo__task-list * {
    border: 1px solid var(--text-color);
}

.todo__task-list tr {
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.todo__task-list :not(:first-child) tr:hover {
    transform: scale(1.05);
}

.todo__task-list__header {
    background: var(--text-color);
    color: var(--accent-color);
}

.todo__task-list__header th {
    border-radius: 0;
    border-color: var(--accent-color);
}

.todo__task-list__body__dlt-but {

    color: var(--accent-color);
    box-shadow: 2px 2px 10px 2px var(--accent-color);
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;

}

.todo__task-list__body__dlt-but:hover {
    transform: scale(1.1);
}

.todo__task-list__body__dlt-but:active {
    transform: scale(0.8);
}

.todo__task-list__body__row--completed :not(:last-child) {
    border-radius: 0;
    background: var(--background-color);
    color: var(--accent-color);
}

.todo__task-list__body__col span {
    width: 100%;
    border: 0;
    border-radius: 0;
}




